/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #FFF1F7;
  --bg-image: url('../images/cover-image-light.png');
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --btn-color: #353430;
  --decor-color: #353430;
  --subtitle-color: #353430;
}

.theme_light .decor-element {
  display: none;
}


@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --bg-image: url('../images/cover-image-light.png');
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --decor-color: #353430;
    --btn-color: #353430;
    --subtitle-color: #353430;
  }

  .theme_auto .decor-element {
    display: none;
  }
}