/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
}

.header {
  display: grid;
  block-size: 100dvh;
  position: relative;
  margin-block-end: 30px;
  grid-template-rows: repeat(2, 34%);
}

.header__theme-menu {
  display: flex;
  align-items: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  display: flex;
  padding: 0 13px;
  color: var(--accent-color);
  text-align: center;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: lowercase;
  block-size: 23px;
}

.header__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
}

.header__wrapper {
  align-self: baseline;
  margin-block-start: 22px;
}

.title-decor {
  background-color: var(--accent-color);
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: 700;
  color: #000028;
}

.decor-element {
  position: absolute;
}

.section-title {
  color: var(--accent-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  /* 130% */
  margin-block-end: 20px;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.article__title {
  margin-block-end: 10px;
}

.article__subtitle {
  font-weight: 400;
  margin-block-end: 11px;
}

.article__text {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  /* 130% */
}

.article__link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;

}



.section {
  margin-block-end: 51px;
}